In [2]:
import pandas as pd
import numpy as np
import xlrd
import xlsxwriter

In [1]:
 pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 4.3 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.3

In [3]:
from google.colab import files
uploaded = files.upload()

Saving CCC.csv to CCC.csv

In [4]:
data = pd.read_csv('CCC.csv')
data.head(10)

   BatchNumber  BatchCod ShamsiDate      date      Time  CCS kg/PL
0     113847.0       0.0  1400/5/15  8/6/2021  15:00:00      314.0
1     113853.0       0.0  1400/5/15  8/6/2021  17:00:00      353.0
2     113856.0       0.0  1400/5/15  8/6/2021  19:00:00      312.0
3     113863.0       0.0  1400/5/15  8/6/2021  21:00:00      303.0
4     113872.0       0.0  1400/5/15  8/6/2021  23:00:00      334.0
5     113880.0       0.0  1400/5/16  8/7/2021   1:00:00      277.0
6     113883.0       0.0  1400/5/16  8/7/2021   3:00:00      345.0
7     113890.0       0.0  1400/5/16  8/7/2021   5:00:00      310.0
8     113895.0       0.0  1400/5/16  8/7/2021   7:00:00      287.0
9     113901.0       0.0  1400/5/16  8/7/2021   9:00:00      323.0

In [5]:
from google.colab import files
uploaded = files.upload()

Saving ProcessAnnual.csv to ProcessAnnual.csv

In [7]:
dama = pd.read_csv('ProcessAnnual.csv')
dama.head

<bound method NDFrame.head of             End Time       a         b            c           d           e  \
0     8/6/2021 10:00  578.83  6.013645  1067.567922  963.662219  521.738098
1     8/6/2021 11:00  547.80  5.940090  1061.902193  953.924776  530.754964
2     8/6/2021 12:00  582.00  6.079270  1069.582433  957.888253  521.081965
3     8/6/2021 13:00  577.10  6.103750  1062.965332  947.444773  516.285956
4     8/6/2021 14:00  573.67  6.040031  1067.525187  956.686247  524.529288
...              ...     ...       ...          ...         ...         ...
8755             NaN     NaN       NaN          NaN         NaN         NaN
8756             NaN     NaN       NaN          NaN         NaN         NaN
8757             NaN     NaN       NaN          NaN         NaN         NaN
8758             NaN     NaN       NaN          NaN         NaN         NaN
8759             NaN     NaN       NaN          NaN         NaN         NaN

               f           g           h       i            j          k  \
0     472.063682  478.875105  505.487447  7330.0  1147.161140  1134.8257
1     487.874062  492.868238  499.884945  7240.0  1149.746407  1137.4960
2     479.309683  481.816637  488.945653  7250.0  1153.960153  1137.4960
3     466.731977  478.489153  482.823935  7390.0  1147.522188  1136.8978
4     478.470031  484.855827  490.870932  7090.0  1151.947458  1135.3170
...          ...         ...         ...     ...          ...        ...
8755         NaN         NaN         NaN     NaN          NaN        NaN
8756         NaN         NaN         NaN     NaN          NaN        NaN
8757         NaN         NaN         NaN     NaN          NaN        NaN
8758         NaN         NaN         NaN     NaN          NaN        NaN
8759         NaN         NaN         NaN     NaN          NaN        NaN

             l         m          n           o           p    q    r
0     1.530231  1.886694  46.333333  200.639660  158.597300  1.0  1.0
1     1.530391  1.808890  45.883333  199.151523  147.671298  1.0  1.0
2     1.530354  1.806057  45.700000  199.351265  155.835957  1.0  1.0
3     1.530352  1.909284  47.433333  200.218970  151.855676  1.0  1.0
4     1.530182  1.857454  47.550000  199.289694  151.735411  1.0  1.0
...        ...       ...        ...         ...         ...  ...  ...
8755       NaN       NaN        NaN         NaN         NaN  NaN  NaN
8756       NaN       NaN        NaN         NaN         NaN  NaN  NaN
8757       NaN       NaN        NaN         NaN         NaN  NaN  NaN
8758       NaN       NaN        NaN         NaN         NaN  NaN  NaN
8759       NaN       NaN        NaN         NaN         NaN  NaN  NaN

[8760 rows x 19 columns]>

In [8]:
dama[['Date', 'Time']] = dama['End Time'].str.split(' ', 1, expand=True)
#dama.head(10)

In [9]:
dama['Date']= pd.to_datetime(dama['Date'])
data['date']= pd.to_datetime(data['date'])

In [10]:
dama['Time']= pd.to_datetime(dama['Time'])
#dama['Time']= dama['Time'].astype(str)
dama.head(5)

,End Time,a,b,c,d,e,f,g,h,i,...,k,l,m,n,o,p,q,r,Date,Time
0,8/6/2021 10:00,578.83,6.013645,1067.567922,963.662219,521.738098,472.063682,478.875105,505.487447,7330.0,...,1134.8257,1.530231,1.886694,46.333333,200.639660,158.597300,1.0,1.0,2021-08-06,2022-08-17 10:00:00
1,8/6/2021 11:00,547.80,5.940090,1061.902193,953.924776,530.754964,487.874062,492.868238,499.884945,7240.0,...,1137.4960,1.530391,1.808890,45.883333,199.151523,147.671298,1.0,1.0,2021-08-06,2022-08-17 11:00:00
2,8/6/2021 12:00,582.00,6.079270,1069.582433,957.888253,521.081965,479.309683,481.816637,488.945653,7250.0,...,1137.4960,1.530354,1.806057,45.700000,199.351265,155.835957,1.0,1.0,2021-08-06,2022-08-17 12:00:00
3,8/6/2021 13:00,577.10,6.103750,1062.965332,947.444773,516.285956,466.731977,478.489153,482.823935,7390.0,...,1136.8978,1.530352,1.909284,47.433333,200.218970,151.855676,1.0,1.0,2021-08-06,2022-08-17 13:00:00
4,8/6/2021 14:00,573.67,6.040031,1067.525187,956.686247,524.529288,478.470031,484.855827,490.870932,7090.0,...,1135.3170,1.530182,1.857454,47.550000,199.289694,151.735411,1.0,1.0,2021-08-06,2022-08-17 14:00:00

In [11]:
data['Time']= data['Time'].astype(str)
#data.head(3)
dama['Time']= dama['Time'].astype(str)

In [12]:
dama['Time'] = dama['Time'].str.split(' ').str.get(-1)
#dama.head(5)

In [ ]:
#dama['Time']= pd.to_datetime(dama['Time'])
#dama['Time']= dama['Time'].astype(str)
#dama.head(5)

In [13]:
clms = list(dama)

In [14]:
1# mean1 =[]
# mean2 =[]
# mean3 =[]
# mean4 =[]
# take input from user
x = input()
y = input()
# print data type
#print(type(x))
# type cast into integer
x = int(x)
y = int(y)
counter =  0
for i in clms:
  if counter < y:
    #k = counter - y
    data[f"Avg_Val{counter}"] = None
    #print(k)
  counter = counter + 1

3
18

In [15]:
data.head(3)
#print(counter)
#print(counter - y)

,BatchNumber,BatchCod,ShamsiDate,date,Time,CCS kg/PL,Avg_Val0,Avg_Val1,Avg_Val2,Avg_Val3,...,Avg_Val8,Avg_Val9,Avg_Val10,Avg_Val11,Avg_Val12,Avg_Val13,Avg_Val14,Avg_Val15,Avg_Val16,Avg_Val17
0,113847.0,0.0,1400/5/15,2021-08-06,15:00:00,314.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,113853.0,0.0,1400/5/15,2021-08-06,17:00:00,353.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,113856.0,0.0,1400/5/15,2021-08-06,19:00:00,312.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [16]:
letters = []
for c in range(97, 123):
  letters.append(chr(c))
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [25]:
def mean_function(dama,data,letters,y,x):

  counter2 =0
  #num_clms = counter - y
  for4 = 0
  for ind1 in dama.index:
      for ind2 in  data.index:
        if dama['Date'][ind1] >= data['date'][ind2]:
          #print(dama['Date'][ind1])
          if dama['Date'][ind1] == data['date'][ind2]:
            if dama['Time'][ind1] in data['Time'][ind2]:
            #else:
        #break
            #data['Avg_Val0'][ind2]=(dama['a'][ind1-1] + dama['a'][ind1 -2] + dama['a'][ind1 -3])/(x) 
            #data['Avg_Val1'][ind2]=(dama['b'][ind1-1] + dama['b'][ind1 -2] + dama['b'][ind1 -3])/(x)
            #data['Avg_Val2'][ind2]=(dama['c'][ind1-1] + dama['c'][ind1 -2] + dama['c'][ind1 -3])/(x)
          #data['Avg_Val3'][ind2]=(dama['d'][ind1-1] + dama['d'][ind1 -2] + dama['d'][ind1 -3])/(x)
          
              while for4 <= y:
                for4 =for4 + 1
                if counter2 < y:
                #print(counter2)
                #print(dama[letters[counter2]][ind1-1])
                #print(dama['Date'][ind1], data['date'][ind2] and dama['Time'][ind1] , data['Time'][ind2] )
                  try:
                    #data[f"Avg_Val{counter2}"][ind2] = 10
                    data[f"Avg_Val{counter2}"][ind2]=(dama[letters[counter2]][ind1 -1] + dama[letters[counter2]][ind1 -2] + dama[letters[counter2]][ind1 -3])/(x)
                    counter2 += 1
                    for4 =for4 + 1
                  except:
                     print("error is here")
        else:
          break

In [26]:

 #data['710TG1_AA01_TT28_AVG']=None
 #data['710TG1_AA01_TT29_AVG']=None
 #data['710TG1_AA01_TT30_AVG']=None
 #data['710TG1_AA01_TT31_AVG']=None
#counter2 =1
#num_clms = counter - y
#for4 = 0
#for ind1 in dama.index:
    #for ind2 in  data.index:
      #if dama['Date'][ind1] >= data['date'][ind2]:
        #print(dama['Date'][ind1])
        #if dama['Date'][ind1] == data['date'][ind2]:
          # dama['Time'][ind1] in data['Time'][ind2]:
          #else:
       #break
          #data['Avg_Val0'][ind2]=(dama['a'][ind1-1] + dama['a'][ind1 -2] + dama['a'][ind1 -3])/(x) 
          #data['Avg_Val1'][ind2]=(dama['b'][ind1-1] + dama['b'][ind1 -2] + dama['b'][ind1 -3])/(x)
          #data['Avg_Val2'][ind2]=(dama['c'][ind1-1] + dama['c'][ind1 -2] + dama['c'][ind1 -3])/(x)
         #data['Avg_Val3'][ind2]=(dama['d'][ind1-1] + dama['d'][ind1 -2] + dama['d'][ind1 -3])/(x)
         
           #while for4 <= y:
             #for4 =for4 + 1
             #if counter2 < y:
              #print(counter2)
              #print(dama[letters[counter2]][ind1-1])
              #print(dama['Date'][ind1], data['date'][ind2] and dama['Time'][ind1] , data['Time'][ind2] )
              #data[f"Avg_Val{counter2}"][ind2]=(dama[letters[counter2]][ind1 -1] + dama[letters[counter2]][ind1 -2] + dama[letters[counter2]][ind1 -3])/(x)
              #counter2 += 1
           
      #else:
      # break
mean_function(dama,data,letters,y,x)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
data.head(16)

,BatchNumber,BatchCod,ShamsiDate,date,Time,CCS kg/PL,Avg_Val0,Avg_Val1,Avg_Val2,Avg_Val3,...,Avg_Val8,Avg_Val9,Avg_Val10,Avg_Val11,Avg_Val12,Avg_Val13,Avg_Val14,Avg_Val15,Avg_Val16,Avg_Val17
0,113847.0,0.0,1400/5/15,2021-08-06,15:00:00,314.0,577.59,6.07435,1066.690984,954.006424,...,7243.333333,1151.143266,1136.570267,1.530296,1.857598,46.894444,199.619976,153.142348,1.0,1.0
1,113853.0,0.0,1400/5/15,2021-08-06,17:00:00,353.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,113856.0,0.0,1400/5/15,2021-08-06,19:00:00,312.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,113863.0,0.0,1400/5/15,2021-08-06,21:00:00,303.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,113872.0,0.0,1400/5/15,2021-08-06,23:00:00,334.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,113880.0,0.0,1400/5/16,2021-08-07,1:00:00,277.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,113883.0,0.0,1400/5/16,2021-08-07,3:00:00,345.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,113890.0,0.0,1400/5/16,2021-08-07,5:00:00,310.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,113895.0,0.0,1400/5/16,2021-08-07,7:00:00,287.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,113901.0,0.0,1400/5/16,2021-08-07,9:00:00,323.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
10,113905.0,0.0,1400/5/16,2021-08-07,11:00:00,322.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
11,113916.0,0.0,1400/5/16,2021-08-07,13:00:00,270.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
12,113920.0,0.0,1400/5/16,2021-08-07,15:00:00,302.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13,113926.0,0.0,1400/5/16,2021-08-07,17:00:00,290.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
14,113931.0,0.0,1400/5/16,2021-08-07,19:00:00,326.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
15,113941.0,0.0,1400/5/16,2021-08-07,21:00:00,316.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
data.to_excel('sample_data.xlsx', sheet_name='sheet1', index=False)