In [60]:
import pandas as pd
import numpy as np
import xlrd
import xlsxwriter

In [4]:
 pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (3.0.3)

In [62]:
from google.colab import files
uploaded = files.upload()

Saving CCs.csv to CCs.csv

In [64]:
data = pd.read_csv('CCs.csv')
data.head(10)

   BatchNumber  BatchCod ShamsiDate       date      Time  CCS kg/PL
0     112789.0       0.0   1400/5/1  7/23/2021   1:00:00      311.0
1     112794.0       0.0   1400/5/1  7/23/2021   3:00:00      288.0
2     112800.0       0.0   1400/5/1  7/23/2021   5:00:00      302.0
3     112803.0       0.0   1400/5/1  7/23/2021   7:00:00      310.0
4     112812.0       0.0   1400/5/1  7/23/2021   9:00:00      270.0
5     112816.0       0.0   1400/5/1  7/23/2021  11:00:00      299.0
6     112825.0       0.0   1400/5/1  7/23/2021  13:00:00      290.0
7     112831.0       0.0   1400/5/1  7/23/2021  15:00:00      291.0
8     112842.0       0.0   1400/5/1  7/23/2021  17:00:00      310.0
9     112848.0       0.0   1400/5/1  7/23/2021  19:00:00      269.0

In [65]:
from google.colab import files
uploaded = files.upload()

Saving ProcessAnnual.csv to ProcessAnnual (2).csv

In [66]:
dama = pd.read_csv('ProcessAnnual.csv')
dama.head(5)

,End Time,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r
0,8/6/2021 10:00,578.83,6.013645,1067.567922,963.662219,521.738098,472.063682,478.875105,505.487447,7330,1147.161140,1134.8257,1.530231,1.886694,46.333333,200.639660,158.597300,1.0,1.0
1,8/6/2021 11:00,547.80,5.940090,1061.902193,953.924776,530.754964,487.874062,492.868238,499.884945,7240,1149.746407,1137.4960,1.530391,1.808890,45.883333,199.151523,147.671298,1.0,1.0
2,8/6/2021 12:00,582.00,6.079270,1069.582433,957.888253,521.081965,479.309683,481.816637,488.945653,7250,1153.960153,1137.4960,1.530354,1.806057,45.700000,199.351265,155.835957,1.0,1.0
3,8/6/2021 13:00,577.10,6.103750,1062.965332,947.444773,516.285956,466.731977,478.489153,482.823935,7390,1147.522188,1136.8978,1.530352,1.909284,47.433333,200.218970,151.855676,1.0,1.0
4,8/6/2021 14:00,573.67,6.040031,1067.525187,956.686247,524.529288,478.470031,484.855827,490.870932,7090,1151.947458,1135.3170,1.530182,1.857454,47.550000,199.289694,151.735411,1.0,1.0

In [67]:
dama[['Date', 'Time']] = dama['End Time'].str.split(' ', 1, expand=True)
#dama.head(10)

In [68]:
dama['Date']= pd.to_datetime(dama['Date'])
data['date']= pd.to_datetime(data['date'])

In [69]:
dama['Time']= pd.to_datetime(dama['Time'])
#dama['Time']= dama['Time'].astype(str)
dama.head(5)

,End Time,a,b,c,d,e,f,g,h,i,...,k,l,m,n,o,p,q,r,Date,Time
0,8/6/2021 10:00,578.83,6.013645,1067.567922,963.662219,521.738098,472.063682,478.875105,505.487447,7330,...,1134.8257,1.530231,1.886694,46.333333,200.639660,158.597300,1.0,1.0,2021-08-06,2022-08-14 10:00:00
1,8/6/2021 11:00,547.80,5.940090,1061.902193,953.924776,530.754964,487.874062,492.868238,499.884945,7240,...,1137.4960,1.530391,1.808890,45.883333,199.151523,147.671298,1.0,1.0,2021-08-06,2022-08-14 11:00:00
2,8/6/2021 12:00,582.00,6.079270,1069.582433,957.888253,521.081965,479.309683,481.816637,488.945653,7250,...,1137.4960,1.530354,1.806057,45.700000,199.351265,155.835957,1.0,1.0,2021-08-06,2022-08-14 12:00:00
3,8/6/2021 13:00,577.10,6.103750,1062.965332,947.444773,516.285956,466.731977,478.489153,482.823935,7390,...,1136.8978,1.530352,1.909284,47.433333,200.218970,151.855676,1.0,1.0,2021-08-06,2022-08-14 13:00:00
4,8/6/2021 14:00,573.67,6.040031,1067.525187,956.686247,524.529288,478.470031,484.855827,490.870932,7090,...,1135.3170,1.530182,1.857454,47.550000,199.289694,151.735411,1.0,1.0,2021-08-06,2022-08-14 14:00:00

In [70]:
data['Time']= data['Time'].astype(str)
#data.head(3)
dama['Time']= dama['Time'].astype(str)

In [71]:
dama['Time'] = dama['Time'].str.split(' ').str.get(-1)
#dama.head(5)

In [ ]:
#dama['Time']= pd.to_datetime(dama['Time'])
#dama['Time']= dama['Time'].astype(str)
#dama.head(5)

In [72]:
clms = list(dama)

In [73]:
1# mean1 =[]
# mean2 =[]
# mean3 =[]
# mean4 =[]
# take input from user
x = input()
y = input()
# print data type
#print(type(x))
# type cast into integer
x = int(x)
y = int(y)
counter =  0
for i in clms:
  if counter < y:
    #k = counter - y
    data[f"Avg_Val{counter}"] = None
    #print(k)
  counter = counter + 1

3
18

In [74]:
data.head(3)
#print(counter)
#print(counter - y)

,BatchNumber,BatchCod,ShamsiDate,date,Time,CCS kg/PL,Avg_Val0,Avg_Val1,Avg_Val2,Avg_Val3,...,Avg_Val8,Avg_Val9,Avg_Val10,Avg_Val11,Avg_Val12,Avg_Val13,Avg_Val14,Avg_Val15,Avg_Val16,Avg_Val17
0,112789.0,0.0,1400/5/1,2021-07-23,1:00:00,311.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,112794.0,0.0,1400/5/1,2021-07-23,3:00:00,288.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,112800.0,0.0,1400/5/1,2021-07-23,5:00:00,302.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [75]:
letters = []
for c in range(97, 123):
  letters.append(chr(c))
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [78]:
counter2 = 0
num_clms = counter - y
for4 = 0
 #data['710TG1_AA01_TT28_AVG']=None
 #data['710TG1_AA01_TT29_AVG']=None
 #data['710TG1_AA01_TT30_AVG']=None
 #data['710TG1_AA01_TT31_AVG']=None

for ind1 in dama.index:
    for ind2 in  data.index:
      if dama['Date'][ind1] >= data['date'][ind2]:
        #print(dama['Date'][ind1])
        if dama['Date'][ind1] == data['date'][ind2]:
          if dama['Time'][ind1] in data['Time'][ind2]:
          #else:
       #break
          #data['Avg_Val0'][ind2]=(dama['a'][ind1-1] + dama['a'][ind1 -2] + dama['a'][ind1 -3])/(x) 
          #data['Avg_Val1'][ind2]=(dama['b'][ind1-1] + dama['b'][ind1 -2] + dama['b'][ind1 -3])/(x)
          #data['Avg_Val2'][ind2]=(dama['c'][ind1-1] + dama['c'][ind1 -2] + dama['c'][ind1 -3])/(x)
          #data['Avg_Val3'][ind2]=(dama['d'][ind1-1] + dama['d'][ind1 -2] + dama['d'][ind1 -3])/(x)
           while for4 <= y:
             for4 =for4 + 1
             if counter2 < y:
              print(counter2)
              #print(dama[letters[counter2]][ind1-1])
              #print(dama['Date'][ind1], data['date'][ind2])
              data[f"Avg_Val{counter2}"][ind2]=(dama[letters[counter2]][ind1 -1] + dama[letters[counter2]][ind1 -2] + dama[letters[counter2]][ind1 -3])/(x)
              counter2 += 1
           
      else:
       break

0

KeyError: ignored

In [79]:
data.head(16)

,BatchNumber,BatchCod,ShamsiDate,date,Time,CCS kg/PL,Avg_Val0,Avg_Val1,Avg_Val2,Avg_Val3,...,Avg_Val8,Avg_Val9,Avg_Val10,Avg_Val11,Avg_Val12,Avg_Val13,Avg_Val14,Avg_Val15,Avg_Val16,Avg_Val17
0,112789.0,0.0,1400/5/1,2021-07-23,1:00:00,311.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,112794.0,0.0,1400/5/1,2021-07-23,3:00:00,288.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,112800.0,0.0,1400/5/1,2021-07-23,5:00:00,302.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,112803.0,0.0,1400/5/1,2021-07-23,7:00:00,310.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,112812.0,0.0,1400/5/1,2021-07-23,9:00:00,270.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,112816.0,0.0,1400/5/1,2021-07-23,11:00:00,299.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,112825.0,0.0,1400/5/1,2021-07-23,13:00:00,290.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,112831.0,0.0,1400/5/1,2021-07-23,15:00:00,291.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,112842.0,0.0,1400/5/1,2021-07-23,17:00:00,310.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,112848.0,0.0,1400/5/1,2021-07-23,19:00:00,269.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
10,112853.0,0.0,1400/5/1,2021-07-23,21:00:00,278.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
11,112856.0,0.0,1400/5/1,2021-07-23,23:00:00,312.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
12,112864.0,0.0,1400/5/2,2021-07-24,1:00:00,338.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13,112867.0,0.0,1400/5/2,2021-07-24,3:00:00,317.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
14,112872.0,0.0,1400/5/2,2021-07-24,5:00:00,294.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
15,112878.0,0.0,1400/5/2,2021-07-24,7:00:00,271.0,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [ ]:
data.to_excel('sample_data.xlsx', sheet_name='sheet1', index=False)